<div class="form-inline">
    <div class="form-group">
        <label for="username">Username: </label>
        <input type="text" class="form-control" id="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <input type="text" class="form-control" id="password" placeholder="Password">
    </div>
    <button id="btnAddUser"
            data-loading-text="Grabando..."
            class="btn btn-default btn-primary">Add User</button>
</div>